

html,body{
background-image: url(../img/neko_bg.png);
}

.wrapper{
  background-image: url(../img/neko_icon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



/* 
#progressBox{ 
    width: 100vw;
    height: 100vh;
    border: 1px solid #c8c8c8;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
  }
  #progressBar{ 
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    height: 40px; 
    width: 100%; 
    line-height: 40px; 
    color: white; 
    text-align: center; 
    font-size: 20px; 
    font-weight: bold;
    font-family: Georgia; 
    clip: rect(0px,0px,40px,0px); 
    background: #00A1F5;
  }
  #progressText{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%; 
    height: 40px; 
    line-height: 40px; 
    color: black; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia;
  }
  .show {
    opacity: 1;
  }
  .hide {
    opacity: 0;
    transition: opacity 400ms;
  }
 */
#cvg_main{
    -webkit-app-region:drag;
    width: 100vw;
    height: 100vh;
    position: absolute;
}



#clear_face{
  margin-left: -1rem;
    position: fixed;
    bottom: 0.2rem;
}

#clear_clothes{
  margin-left: 6rem;
  position: fixed;
  bottom: 0.2rem;
}
#clear_all{
  margin-left: 13rem;
  position: fixed;
  bottom: 0.2rem;
}

#switch_01{
  margin-left: 35rem;
    position: fixed;
    bottom: 2rem;
    width: 10rem;
}



#nag_v{

  position: absolute;
  left: 0;
  top: -9px;
  z-index: 95;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  background-color: white;
  height: 2.5rem;
}
#nag_v span{

  font-size: 1rem;
    position: absolute;
    width: 20%;
    left: 50%;
    margin-left: -10%;
    top: 0.8rem;
}

#nav_close{
  -webkit-app-region: no-drag;
  position: absolute;
    right: 0px;
    top: 0;
    z-index: 99;
    font-size: 3rem;
    cursor: pointer;
}

.boty_igm{
    border: 1px solid #333;
    overflow: hidden;
    height: 6.5rem;
    width: 6rem;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0.4rem;
    -webkit-app-region: no-drag;
}

.fae{
  border: 2px solid rgba(255, 123, 123, 0.6);

}



.boty_igm img{

    width: 19rem;
    margin-left: -115px;
}

.boty_igm:hover{
    border: 1px solid #b6b6b6;
    background-color:  rgba(255, 255, 255, 0.8);

}
.boty_igm img:hover{
opacity: 0.8;
}
.fae:hover{
  border: 2px solid rgba(255, 123, 123, 0.8);

}

button,#pills-tab,#pills-tab_ts{
    -webkit-app-region: no-drag;
}

button{
  color: #fff!important;
  background-color: #65524b!important;
  border-color: #65524b!important;
}

.nav-link{
  color: #65524b!important;

}
.nav-link.active {
  color: #fff!important;
  background-color: #65524b!important;
}
#hf_frs{
 
  height: 40rem;
  position: absolute;
  right: 0;
  width: 24rem;
  top: 2rem;
}

.body_btn_Down{
  position: fixed;
    top: 18rem;
    left: -3rem;
    transform: scale(0.4);
}
.body_btn_Left{
  position: fixed;
  top: 18rem;
  left: 4rem;
  transform: scale(0.4);
}
.body_btn_Right{
  position: fixed;
  top: 25rem;
  left: -3rem;
  transform: scale(0.4);
}
.body_btn_Up{
  position: fixed;
  top: 25rem;
  left: 4rem;
  transform: scale(0.4);
}

#face_download{
  position: fixed;
  top: 13rem;
  left: 18rem;
}

#noframe_download{
  position: fixed;
  top: 16rem;
  left: 18rem;
}


#original_download{
  position: fixed;
  top: 37rem;
  left: 4rem;
}
#used_download{
  position: fixed;
  top: 41rem;
  left: 4rem;
}


#face_frame{
  position: fixed;
  left: 16.1rem;
  top: 45px;
  transform: scale(1);
  background-color: white;
  height: 144px;
  width: 144px;
  border: black solid 1px;
}

.gamf_anime{

    position: fixed;
    margin-left: 31.7rem;
    margin-top: 10rem;
    transform: scale(2);

}



#btn_animeleft{
  position: absolute;
    margin-left: 1rem;
    margin-top: 3rem;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

#btn_animeplay{
  position: absolute;
    margin-left: 11rem;
    margin-top: 3rem;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

#btn_animeright{
  position: absolute;
    margin-left: 20rem;
    margin-top: 3rem;
    cursor: pointer;
    -webkit-app-region: no-drag;
}


#ground_imgd2 {


background-image: url(../img/neko_ground.png);
    width: 25rem;
    height: 7rem;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    left: 27rem;
    top: 30rem;

}


.face_anime{

  position: fixed;
  left: 16.1rem;
  top: 2.75rem;
  transform: scale(1);
  width: 144px!important;
  height: 144px!important;

}
.atr_evve{
    position: fixed;
    width: 13.5rem; 
    margin-top: 2rem;
}