

html,body{
        background-image: url(../img/neko_bg.png);
        }
        
        canvas{
        
          position: fixed;
          left: -99999999px;
        }
        
        
        .wrapper{
          background-image: url(../img/neko_icon.jpg);
          background-repeat: no-repeat;
          background-size: cover;
        }
        
        
        #tvg_main{
  
          width: 100vw;
          height: 100vh;
          position: absolute;
       
        }
        
        
        
        #clear_face_ts{
          margin-left: -1rem;
            position: fixed;
            bottom: 0.2rem;
        }
        
        #clear_clothes_ts{
          margin-left: 6rem;
          position: fixed;
          bottom: 0.2rem;
        }
        #clear_all_ts{
          margin-left: 13rem;
          position: fixed;
          bottom: 0.2rem;
        }
        
        .boty_igm_ts{
          border: 1px solid #333;
          overflow: hidden;
          height: 6.5rem;
          width: 6rem;
          background-color: rgba(255, 255, 255, 0.6);
          margin: 0.4rem;
          -webkit-app-region: no-drag;
        }
        
        
        
        
        
        .boty_igm_ts img{
        
          width: 4.5rem;
        }
        
        .boty_igm_ts:hover{
          border: 1px solid #b6b6b6;
          background-color:  rgba(255, 255, 255, 0.8);
        
        }
        .boty_igm_ts img:hover{
        opacity: 0.8;
        }
        
        
        
        .gamf_anime_ts{
          background-size: 33rem;
            width: 17.5rem;
            height: 20.99rem;
            position: fixed;
            left: 4rem;
            top: 5rem;
            background-position-x: center;
            background-position-y: -7rem;
            border: black solid 2px;
          }
        
        #switch_02{
          margin-left: 35rem;
            position: fixed;
            bottom: 2rem;
            width: 10rem;
        }
        
        #hf_frs_ts{
         
          height: 40rem;
          position: absolute;
          right: 0;
          width: 24rem;
          top: 2rem;
          overflow-y: scroll;
          -webkit-app-region: no-drag;
        }
        
        .atr_evve_ts{
          position: fixed;
          width: 25rem;
          bottom: 5rem;
          left: 27rem;
          border: black solid 1px;
        }
        
        #original_download_ts{
          position: fixed;
          top: 28rem;
          left: 4rem;
          
        }
        #used_download_ts{
          position: fixed;
          top: 28rem;
          left: 15rem;
        }
        .fae {
          border: 2px solid rgba(255, 123, 123, 0.6);
        }
        #color_vorda_ts{
          display: none;
          position: fixed;
            left: 0.5rem;
            top: 32rem;
            width: 26rem;
            height: 12rem;
            background-color: rgba(107,107,107,40%);
            -webkit-app-region: no-drag;
        }
        
        #color_def_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 1rem;
            bottom: 9rem;
            background-color: transparent;
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        
        
        #color_black_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 4.5rem;
            bottom: 9rem;
            background-color: black;
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        #color_white_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 8rem;
            bottom: 9rem;
            background-color: white;
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color01_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 11.5rem;
            bottom: 9rem;
            background-color: rgb(32, 207, 202);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color02_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 15rem;
            bottom: 9rem;
            background-color: crimson;
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color03_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 18.5rem;
            bottom: 9rem;
            background-color: yellow;
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color04_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 22rem;
            bottom: 9rem;
            background-color: rgb(184, 103, 48);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color05_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 1rem;
            bottom: 5.5rem;
            background-color: rgb(251, 77, 138);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color06_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 4.5rem;
            bottom: 5.5rem;
            background-color: rgb(227, 62, 226);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        #color_color07_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 8rem;
            bottom: 5.5rem;
            background-color: rgb(105, 168, 77);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color08_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 11.5rem;
            bottom: 5.5rem;
            background-color: rgb(12, 83, 149);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color09_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 15rem;
            bottom: 5.5rem;
            background-color: rgb(239, 140, 59);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        #color_color10_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 18.5rem;
            bottom: 5.5rem;
            background-color: rgb(153, 153, 153);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        #color_color11_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 22rem;
            bottom: 5.5rem;
            background-color: rgb(245, 171, 208);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color12_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 1rem;
            bottom: 2rem;
            background-color: rgb(111, 168, 221);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color13_ts{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 4.5rem;
            bottom: 2rem;
            background-color: rgb(254, 217, 102);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        
        .clofsdf{
          border: white solid 0.4rem!important;
        }
        
        
        
        #color_vorda_ts_eye{
          display: none;
          position: fixed;
            left: 0.5rem;
            top: 32rem;
            width: 26rem;
            height: 12rem;
            background-color: rgba(107,107,107,40%);
            -webkit-app-region: no-drag;
        }
        
        #color_def_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 1rem;
            bottom: 9rem;
            background-color: transparent;
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        
        
        #color_black_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 4.5rem;
            bottom: 9rem;
            background-color: black;
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        #color_white_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 8rem;
            bottom: 9rem;
            background-color: white;
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color01_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 11.5rem;
            bottom: 9rem;
            background-color: rgb(32, 207, 202);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color02_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 15rem;
            bottom: 9rem;
            background-color: crimson;
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color03_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 18.5rem;
            bottom: 9rem;
            background-color: yellow;
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color04_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 22rem;
            bottom: 9rem;
            background-color: rgb(184, 103, 48);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color05_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 1rem;
            bottom: 5.5rem;
            background-color: rgb(251, 77, 138);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color06_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 4.5rem;
            bottom: 5.5rem;
            background-color: rgb(227, 62, 226);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        #color_color07_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 8rem;
            bottom: 5.5rem;
            background-color: rgb(105, 168, 77);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color08_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 11.5rem;
            bottom: 5.5rem;
            background-color: rgb(12, 83, 149);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color09_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 15rem;
            bottom: 5.5rem;
            background-color: rgb(239, 140, 59);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        #color_color10_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 18.5rem;
            bottom: 5.5rem;
            background-color: rgb(153, 153, 153);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        #color_color11_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 22rem;
            bottom: 5.5rem;
            background-color: rgb(245, 171, 208);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color12_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 1rem;
            bottom: 2rem;
            background-color: rgb(111, 168, 221);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        #color_color13_ts_eye{
          width: 3rem;
            height: 3rem;
            position: fixed;
            left: 4.5rem;
            bottom: 2rem;
            background-color: rgb(254, 217, 102);
            border-radius: 999px;
            border: white solid 0.2rem;
            cursor: pointer;
        }
        
        
        .clofsdf_eye{
          border: white solid 0.4rem!important;
        }
        
        #gfddd{
          position: fixed;
          width: 25rem;
          height: 35rem;
          bottom: 5rem;
          left: 27rem;
        
        }